/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0e14;
    color: #f8faf8;
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
    cursor: url('assets/cursors/Gemini_shipFlying.png'), auto;
}

a {
    cursor: url('assets/cursors/Gemini_shipAction.png'), pointer;
}

/* Fonts */
h1, h2, h3,h4, 
.logo-text, 
.nav-links a, 
.hero-btn, a {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tagline, p, .skill-card, .project-card p, span{
    font-family: 'Roboto Mono', monospace;
}

/* Planets Background */
.space-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* stars */
.stars {
    position: absolute;
    background: transparent;
}


.stars1 {
    width: 1px;
    height: 1px;
    box-shadow: 1024px 2048px white, 50px 100px white, 300px 500px rgba(255, 255, 255, 0.8);
    box-shadow: 1024px 2048px white, 50px 100px white, 300px 500px white, 800px 900px white;
    animation: starPulse 10s infinite;
}

.stars2 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 300px #00d1ff, 700px 100px #00d1ff;
    animation: starPulse 7s infinite 1s;
}

.stars4 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 400px #fff, 800px 100px #fff, 1400px 600px #fff, 50px 800px #fff;
    animation: starPulse 3s infinite alternate;
}

.stars5 {
    width: 1px;
    height: 1px;
    box-shadow: 500px 500px #fff, 1000px 1000px #fff, 1500px 1500px #fff;
    animation: starPulse 4s infinite alternate;
}

.stars6 {
    width: 1px;
    height: 1px;
    box-shadow: 500px 500px #fff, 1000px 1000px #fff, 1500px 1500px #fff;
    animation: starPulse 4s infinite alternate;
}

.stars7 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 400px #fff, 800px 100px #fff, 1400px 600px #fff, 50px 800px #fff;
    animation: starPulse 3s infinite 1s alternate;
}

.stars8 {
    width: 3px;
    height: 3px;
    box-shadow: 1000px 1000px #fff, 1500px 1500px #fff, 2000px 2000px #fff;
    animation: starPulse 5s infinite alternate;
}

.stars9 {
    width: 1px;
    height: 1px;
    box-shadow: 500px 500px #fff, 1000px 1000px #fff, 1500px 1500px #fff;
    animation: starPulse 4s infinite alternate;
}

.stars10 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 400px #fff, 800px 100px #fff, 1400px 600px #fff, 50px 800px #fff;
    animation: starPulse 3s infinite 1s alternate;
}

.stars11 {
    width: 3px;
    height: 3px;
    box-shadow: 1000px 1000px #fff, 1500px 1500px #fff, 2000px 2000px #fff;
    animation: starPulse 5s infinite alternate;
}

.stars12 {
    width: 1px;
    height: 1px;
    box-shadow: 1024px 2048px white, 50px 100px white, 300px 500px rgba(255, 255, 255, 0.8);
    box-shadow: 1024px 2048px white, 50px 100px white, 300px 500px white, 800px 900px white;
    animation: starPulse 10s infinite;
}

.stars13 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 300px #00d1ff, 700px 100px #00d1ff;
    animation: starPulse 7s infinite 1s;
}

.stars14 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 400px #fff, 800px 100px #fff, 1400px 600px #fff, 50px 800px #fff;
    animation: starPulse 3s infinite alternate;
}

.stars15 {
    width: 1px;
    height: 1px;
    box-shadow: 500px 500px #fff, 1000px 1000px #fff, 1500px 1500px #fff;
    animation: starPulse 4s infinite alternate;
}

.stars16 {
    width: 1px;
    height: 1px;
    box-shadow: 500px 500px #fff, 1000px 1000px #fff, 1500px 1500px #fff;
    animation: starPulse 4s infinite alternate;
}

.stars17 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 400px #fff, 800px 100px #fff, 1400px 600px #fff, 50px 800px #fff;
    animation: starPulse 3s infinite 1s alternate;
}

.stars18 {
    width: 3px;
    height: 3px;
    box-shadow: 1000px 1000px #fff, 1500px 1500px #fff, 2000px 2000px #fff;
    animation: starPulse 5s infinite alternate;
}

.stars19 {
    width: 1px;
    height: 1px;
    box-shadow: 1024px 2048px white, 50px 100px white, 300px 500px rgba(255, 255, 255, 0.8);
    box-shadow: 1024px 2048px white, 50px 100px white, 300px 500px white, 800px 900px white;
    animation: starPulse 10s infinite;
}

.stars20 {
    width: 2px;
    height: 2px;
    box-shadow: 200px 300px #00d1ff, 700px 100px #00d1ff;
    animation: starPulse 7s infinite 1s;
}

.galaxy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/Galaxy.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    filter: blur(20px);
}

/* Planets*/
.planet {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.planet-earth {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at center, rgba(123, 97, 255, 0.1) 0%, rgba(123, 97, 255, 0) 70%);
    box-shadow: 0 0 100px rgba(126, 105, 228, 0.63);
    top: 10%;
    left: 70%;
    background-image: url("assets/images/earth.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: rotateSlow 60s linear infinite;
}

.planet-moon {
    width: 80px;
    height: 77px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.733);
    border-radius: 90%;
    top: 80%;
    left: 70%;
    animation: orbit 60s linear infinite;
    background-image: url("assets/images/moon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.planet-mercury {
    box-shadow: 0 0 20px rgba(67, 64, 64, 0.733);
    border-radius: 90%;
    background-image: url('assets/images/mercury.png');
    top: 20%;
    left: 10%;
    animation: float 15s infinite ease-in-out;
}

.planet-venus {
    box-shadow: 0 0 20px rgba(174, 75, 75, 0.733);
    border-radius: 90%;
    background-image: url('assets/images/venus.png');
    top: 40%;
    left: 30%;
    animation: float 20s infinite ease-in-out;
}

.planet-mars {
    width: 100px;
    height: 100px;
    background-image: url('assets/images/mars.png');
    bottom: 20%;
    left: 10%;
    box-shadow: 0 0 20px rgba(184, 115, 51, 0.5);
    border-radius: 50%;
    animation: float 30s infinite ease-in-out;
}

/* Animations */
@keyframes starPulse {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes orbit {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(300px, -300px) rotate(360deg);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    33% {
        transform: translate(30px, -50px) rotate(5deg);
    }

    66% {
        transform: translate(-20px, 20px) rotate(-5deg);
    }
}

@keyframes rotateSlow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ---- website elements ---- */
/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8%;
    position: sticky;
    top: 0;
    background: rgba(5, 7, 10, 0.8);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 1000;
}

/* Logo and Back */
.logo-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.logo-text {
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 1px;
    color: white;
}

.logo-text span {
    color: #00d1ff;
}


/* Back */
.back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.back:hover {
    background: #00d1ff;
    box-shadow: 0 0 15px #00d1ff;
    transform: translateX(-3px);
}

.back a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    display: flex;
}

.back:hover a {
    color: #0b0e14;
}

/* Nav Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}

.nav-links a:hover {
    color: #00d1ff;
    text-shadow: 0 0 8px #00d1ff;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at center, #161b22 0%, #0b0e14 100%);
}

.profile-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #7b61ff;
    margin: 0 auto 24px;
    box-shadow: 0 0 30px rgba(123, 97, 255, 0.5);
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    color: #7b61ff;
}

.hero-btn,
.project-link {
    display: inline-block;
    padding: 16px 32px;
    margin-top: 32px;
    border: 1px solid #00d1ff;
    color: #00d1ff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.hero-btn:hover,
.project-link:hover {
    background: #00d1ff;
    color: #0b0e14;
    box-shadow: 0 0 20px #00d1ff;
}


/* nebula */
.nebula-hover {
    position: relative;
    color: #00d1ff;
    cursor: help;
    font-weight: bold;
    text-decoration: underline dotted;
}

/* The hidden image */
.nebula-popup {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #00d1ff;
    box-shadow: 0 0 20px rgba(0, 209, 255, 0.5);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: none;
    z-index: 100;
    opacity: 0;
}

/* The Hover State */
.nebula-hover:hover .nebula-popup {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

/* Sections */
.container {
    padding: 80px 10%;
}

.section-title {
    margin-bottom: 56px;
    font-size: 45px;
    border-left: 5px solid #7b61ff;
    padding-left: 16px;
}

.facts {
    margin: 28px 0;
    font-size: 22px;
    border-left: 2.5px solid #56218f;
    padding-left: 8px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

/* Skills and Projects */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
}

/* Project Grid Layout */
.project-grid {
    display: grid;
    gap: 32px;
    grid-template-columns:repeat(2, 1fr);
}

.skill-card,
.project-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 32px;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.skill-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: left;
    font-size: 24px;
}

.logo {
    width: 40px;
    height: auto;
    margin-bottom: 0;
    flex-shrink: 0;
    /* overflow: hidden; */
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: #00d1ff;
}

.project-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background: #1e2530;
    margin-bottom: 24px;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: #0b0e14;
    padding: 60px 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Socials linls */
.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socials a {
    color: #00d1ff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.socials a:hover {
    text-shadow: 0 0 10px #00d1ff;
}


/* Icons */
.tag-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 6px;
}

.title-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.project-tags span {
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 4px 12px;
    border-radius: 20px;
    margin-right: 8px;
    margin-bottom: 8px;
}

/* Responsive (Mobile/Tablet) */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-links {
        display: none;
    }

    .hero h1{
        font-size: 23px;
    }
}

.nav-toggle {
    display: none;
}

/*  menu */
.menu-icon {
    display: none; 
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none; 
        position: fixed;
        top: 60px; 
        left: 0;
        width: 100%;
        background: rgba(11, 14, 20, 0.95);
        flex-direction: column;
        padding: 20px 0;
    }
    
    .nav-toggle:checked ~ .nav-links {
        display: flex;
    }

}
